@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.form-control {
    border-radius: .5rem;
    width:100%;
}

.modal {
    position: fixed;
    background-color: white;
    border: 1px black solid;
    border-radius: .5rem;
    z-index: 999;
    top: 10%;
    left: 5%;
    width: 90%;
}
@media (min-width: 1280px) {
    .modal {
        position: fixed;
        background-color: white;
        border: 1px black solid;
        border-radius: .5rem;
        z-index: 999;
        top: 20%;
        left: 50%;
        width: 600px;
        margin-left: -300px;
    }
}

.btn {
    background-color:white;
    border:1px gray solid;
    border-radius: 1rem;
    margin:5px;
    padding:5px;
    width:100px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color:rgb(173, 231, 37);

}

.btn-secondary {
    background-color: #ff3434;
}
.btn-secondary:hover {
    background-color:#f00;
}

